# Section 1 With Pandas | Section 2 with Spark
## Reading Data using Pandas

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('_data/parking_violation.csv')
df.columns

/Users/brad/.pyenv/versions/3.9.1/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (19,30,39,41,42,43) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['Unnamed: 0', 'Summons_Number', 'Plate_ID', 'Registration_State',
       'Plate_Type', 'Issue_Date', 'Violation_Code', 'Vehicle_Body_Type',
       'Vehicle_Make', 'Issuing_Agency', 'Street_Code1', 'Street_Code2',
       'Street_Code3', 'Vehicle_Expiration_Date', 'Violation_Location',
       'Violation_Precinct', 'Issuer_Precinct', 'Issuer_Code',
       'Issuer_Command', 'Issuer_Squad', 'Violation_Time',
       'Time_First_Observed', 'Violation_County',
       'Violation_In_Front_Of_Or_Opposite', 'House_Number', 'Street_Name',
       'Intersecting_Street', 'Date_First_Observed', 'Law_Section',
       'Sub_Division', 'Violation_Legal_Code', 'Days_Parking_In_Effect____',
       'From_Hours_In_Effect', 'To_Hours_In_Effect', 'Vehicle_Color',
       'Unregistered_Vehicle?', 'Vehicle_Year', 'Meter_Number',
       'Feet_From_Curb', 'Violation_Post_Code', 'Violation_Description',
       'No_Standing_or_Stopping_Violation', 'Hydrant_Violation',
       'Double_Parking_Violation', 'Latitude', 'Longitude', 'Community_Board',
       'Community_Council_', 'Census_Tract', 'BIN', 'BBL', 'NTA', 'year',
       'month'],
      dtype='object')

In [4]:
df.year.value_counts()

2015    5986831
2014    5821043
2013        592
2000        261
2012        189
2011        122
2010        110
2001         22
2004         22
2005         14
2008          6
2009          3
2006          3
2007          3
2003          3
2002          3
1988          3
1986          1
1991          1
1985          1
Name: year, dtype: int64

In [5]:
df.month.value_counts()

1     1392992
6     1276592
5     1040148
9     1029583
7      969938
10     966456
3      965119
4      951716
8      911641
11     798897
12     774287
2      731864
Name: month, dtype: int64

In [6]:
df.Registration_State.value_counts()

NY    9193289
NJ    1080414
PA     298877
CT     160361
FL     148868
       ...
SK         26
NF         18
FO         10
NT          6
YT          6
Name: Registration_State, Length: 69, dtype: int64

## Reading the data with Spark

In [7]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

In [10]:
spark = SparkSession.builder.appName('cities').getOrCreate()
spark_df = spark.read.csv('_data/parking_violation.csv')
spark_df.repartition(2)

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string, _c22: string, _c23: string, _c24: string, _c25: string, _c26: string, _c27: string, _c28: string, _c29: string, _c30: string, _c31: string, _c32: string, _c33: string, _c34: string, _c35: string, _c36: string, _c37: string, _c38: string, _c39: string, _c40: string, _c41: string, _c42: string, _c43: string, _c44: string, _c45: string, _c46: string, _c47: string, _c48: string, _c49: string, _c50: string, _c51: string, _c52: string, _c53: string]

In [13]:
spark_df.head()

Row(_c0=None, _c1='Summons_Number', _c2='Plate_ID', _c3='Registration_State', _c4='Plate_Type', _c5='Issue_Date', _c6='Violation_Code', _c7='Vehicle_Body_Type', _c8='Vehicle_Make', _c9='Issuing_Agency', _c10='Street_Code1', _c11='Street_Code2', _c12='Street_Code3', _c13='Vehicle_Expiration_Date', _c14='Violation_Location', _c15='Violation_Precinct', _c16='Issuer_Precinct', _c17='Issuer_Code', _c18='Issuer_Command', _c19='Issuer_Squad', _c20='Violation_Time', _c21='Time_First_Observed', _c22='Violation_County', _c23='Violation_In_Front_Of_Or_Opposite', _c24='House_Number', _c25='Street_Name', _c26='Intersecting_Street', _c27='Date_First_Observed', _c28='Law_Section', _c29='Sub_Division', _c30='Violation_Legal_Code', _c31='Days_Parking_In_Effect____', _c32='From_Hours_In_Effect', _c33='To_Hours_In_Effect', _c34='Vehicle_Color', _c35='Unregistered_Vehicle?', _c36='Vehicle_Year', _c37='Meter_Number', _c38='Feet_From_Curb', _c39='Violation_Post_Code', _c40='Violation_Description', _c41='No_Standing_or_Stopping_Violation', _c42='Hydrant_Violation', _c43='Double_Parking_Violation', _c44='Latitude', _c45='Longitude', _c46='Community_Board', _c47='Community_Council_', _c48='Census_Tract', _c49='BIN', _c50='BBL', _c51='NTA', _c52='year', _c53='month')